.dashboard-main {
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    gap: 0.5rem 1rem;
}

.dashboard-navigate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;
    gap: 15px;
}

.dashboard-navigate h2,
.dashboard-status h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.dashboard-navigate button {
    background-color: #f5a623;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.navigate-checkin,
.navigate-email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-status {
    display: flex;
    align-items: center;
    justify-content: center;
}
